@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html::-webkit-scrollbar{
  display: none;
}

html{
  scroll-behavior: smooth;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #efefef;
  list-style: none;
}

a{
  text-decoration: none;
}

section{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cabecalho{
  width: 100%;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2rem;
  backdrop-filter: blur(7px);
  background-color: #0007;
  font-size: 1.3rem;
  
}

a{
  padding-inline: 75px;
  border-right: 1px solid #efefef;
}

a:hover{
  color: #fff;
  filter: blur(.3px);
}

.cabecalho a:last-child{
  border:none;
}