<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <header>
    <nav>
      <ul class="cabecalho">
        <li>Sobre nós</li>
        <li>Matrícule-se</li>
        <li>Área logada</li>
        <li> <a href="#footer">ContatoF</a> </li>
      </ul>
    </nav>
  </header>
  <main>
    <section style="background-image: url(../assets/Background-1.jpg);"></section>
    <section style="min-height:100vh;"></section>
    <section style="background-image: url(../assets/Background-2.jpg);"></section>
    <section style="min-height:100vh;"></section>
    <section style="background-image: url(../assets/Background-3.jpg);"></section>
    <section style="min-height:100vh;"></section>
  </main>
  <footer id="footer">

  </footer>
  <script src="../utils/script.js"></script>
</body>

</html>